[build]
  command = "pip install -r requirements.txt"
  functions = "functions"
  publish = "static"

[dev]
  command = "python main.py"
  port = 5000

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
