services:
  - type: web
    name: kritika-ecommerce
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.6
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: 0
